@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&display=swap");

:root {
  --background: #ffffff;
  --foreground: #171717;
}
/* Custom scrollbar for suggestions */
.suggestions-container::-webkit-scrollbar {
  width: 6px;
}

* {
  user-select: none;
}

line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* Animation for skeleton loader */
@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.suggestions-container::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 0 0 8px 8px;
}

.suggestions-container::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 3px;
}

.suggestions-container::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}

/* Loading animation */
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: spin 1s linear infinite;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: "Heebo", sans-serif;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 30s linear infinite;
  display: flex;
  white-space: nowrap;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  /* IE/Edge */
  scrollbar-width: none;
  /* Firefox */
}

.overflow-x-auto::-webkit-scrollbar {
  display: none;
}

.overflow-x-auto {
  -ms-overflow-style: none;
  /* IE/Edge */
  scrollbar-width: none;
  /* Firefox */
}

body,
button,
html,
input,
select,
textarea,
.font_new_style_for {
  font-family: "Poppins", sans-serif;
}

p,
div,
h2,
h1,
h3,
h4,
h5,
h6,
span {
  font-family: "Heebo", sans-serif;
}

.font-edu {
  font-family: "Edu VIC WA NT Beginner", cursive;
}

@media only screen and (max-width: 1199px) {
  #page-content {
    margin: 0 0 50px;
  }
}

@media only screen and (max-width: 767px) {
  #page-content {
    margin: 0 0 30px;
  }
}

@media only screen and (max-width: 992px) {
  #page-content {
    min-height: 400px;
  }
}
